<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FinanceTrack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FinanceTrack.Properties.Settings>
            <setting name="PgConnectionString" serializeAs="String">
                <value>Host=localhost;Port=5432;Database=finance_track;Username=postgres;Password=5454;CommandTimeout=0</value>
            </setting>
        </FinanceTrack.Properties.Settings>
    </applicationSettings>
</configuration>